<div class="mainContentContainer">
  <h1>
    Simple DynamoJSON to JSON Converter
  </h1>
  <img class="foxhoundImage" width="auto" height="auto" alt="Angular Logo" 
     src="../assets/foxhound.jpeg">
</div>


<div class="containerHeader">
    <div>DynamoDB JSON</div>
    <div>Regular JSON</div>
</div>
<div class="textAreaContainer">
  <div class="textarea">
    <textarea id="inputTextarea" placeholder="Insert DynamoDB JSON Here:

Example:
{{sampleDynamoJsonText}}"></textarea>
  </div>

  <div class="buttonContainer">
    <button class="buttonStyle" (click)="unmarshallJSON()">Unmarshall &nbsp;<i class="zmdi zmdi-chevron-right zmdi-hc-2x"></i></button>
    <button class="buttonStyle" (click)="marshallJSON()"><i class="zmdi zmdi-chevron-left zmdi-hc-2x"></i> &nbsp; Marshall</button>
    <button class="buttonStyle" (click)="clearText()">Clear Text</button>
  </div>
  
  <div class="textarea">
    <textarea id="outputTextarea" placeholder="Insert JSON Here:
    
Example:
{{sampleJSONText}}"></textarea>
  </div>
</div>
