/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
    color: white;
}

.foxhoundImage {
    height: 450px;
}

.mainContentContainer {
    text-align: center;
    padding-right: 10px;
}

.buttonStyle {
    height: 50px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 12pt;
    justify-content: space-evenly;
    min-width: 120px;
}

.containerHeader {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    font-size: 24pt;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
    width: 100%;
    resize: none;
    height: 350px;
    background-color: transparent;
    color: white;
    font-size: 12pt;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
  
.textarea {
    width: 45%;
    min-height: 100%;
}

.textAreaContainer {
  display: inline-flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.convertButton {
    display: flex;
    align-self: center;
    height: 50px;
    width: 100px;
}